@import "../assets//base/color.less";

.seek-section {
  .column__right {
    width: 60%;
    float: right;
  }
  .column__left {
    width: 40%;
    float: left;
  }
}

/* team */
.team__list {
  border: 1px solid #eee;
  max-height: 559px;
  overflow-y: scroll;
}
.team__item {
  background-color: #eeefee;
  padding: 0.8rem 3.5rem;
  transition: all 0.3s linear;
  cursor: pointer;
}
.team__item:hover {
  background-color: #eeeeee;
}
.team__item:nth-child(2n) {
  background-color: #fff;
  padding: 0.8rem 3.5rem;
  transition: all 0.3s linear;
  cursor: pointer;
}
.team__item:nth-child(2n):hover {
  background-color: #f8f9f8;
}
.team__inner {
  display: flex;
  align-items: center;
}
.team__avartar {
  width: 30%;
}
.team__picture {
  width: 65px;
}
.team__desc {
  padding-left: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.team__title {
  font-size: 1.8rem;
}
.team__introduce {
  font-size: 1.2rem;
  font-weight: 300;
  color: #666;
}

.make-group {
  .page-title {
    font-size: 3rem;
    color: @main-title;
  }
  .make-forms {
    border: 2px solid #000;
    border-radius: 5px;
    padding: 3.5rem 4.5rem;
  }
}
