@import "../assets//base/color.less";

.seek-section {
  .column__right {
    width: 60%;
    float: right;
  }
  .column__left {
    width: 40%;
    float: left;
  }
}

/* team */
.team__list {
  border: 1px solid #eee;
  max-height: 559px;
  overflow-y: scroll;
}
.team__item {
  background-color: #eeefee;
  padding: 0.8rem 3.5rem;
  transition: all 0.3s linear;
  cursor: pointer;
}
.team__item:hover {
  background-color: #eeeeee;
}
.team__item:nth-child(2n) {
  background-color: #fff;
  padding: 0.8rem 3.5rem;
  transition: all 0.3s linear;
  cursor: pointer;
}
.team__item:nth-child(2n):hover {
  background-color: #f8f9f8;
}
.team__inner {
  display: flex;
  align-items: center;
}
.team__avartar {
  width: 30%;
}
.team__picture {
  width: 65px;
}
.team__desc {
  padding-left: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.team__title {
  font-size: 1.8rem;
}
.team__introduce {
  font-size: 1.2rem;
  font-weight: 300;
  color: #666;
}

.make-group {
  .page-title {
    font-size: 3rem;
    color: @main-title;
  }
  .make-forms {
    border: 2px solid #000;
    border-radius: 5px;
    padding: 3.5rem 4.5rem;
  }
}
.sns-login {
  .login-box {
    max-width: 30rem;
    margin: 0 auto;
    padding: 2rem 1.8rem;
    border-radius: 3px;
    border: 2px solid #000016;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  }
  .login-guide {
    font-size: 2rem;
    text-align: center;
  }
  .btn-wrap {
    margin-top: 1.5rem;
    text-align: center;
  }
  .btn {
    margin-left: 1.5rem;
  }
  .btn-naver {
    background-color: @naver-color;
    color: @white;
  }
  .btn-kakao {
    background-color: @kakao-color;
    color: @white;
  }
}
.LoginedPage {
  font-size: 1.5rem;
  color: @main-title;
}
